/* navbar styling*/
a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(75, 97, 93);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}





/* header styling*/
h1{
    color: rgb(71, 197, 176);
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
}
h3{
    color: rgb(71, 197, 176);
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
}
h4{
    color: rgb(71, 197, 176);
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
}

/* image styling*/
.img-thumbnail{
    padding:10px;
    border: none;
}


/* fontstyling for text*/
p{
   color: grey;
   font-family: 'Times New Roman', Times, serif;
   font-size: medium;
   padding:10px;
}


/* body background*/
body{
    background-color: rgb(223, 222, 222);
}
.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}


/* image border styling*/
.pic{
    border: 3px solid rgb(71, 197, 176);
}
/* navbar styling*/
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}


.nav-item.dropdown.show {
    background-color: #ddd;
}


.dropdown-menu {
    margin: 0;
}


/* content styling*/
.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}


.content.bg-white {
    margin-top: 15px;
}

/* small screen adjustments*/
@media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(71, 197, 176)!important;    
    }


    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }
}
